pytest

pytest-cov

docopt == 0.6.1

pytest-asyncio~=0.23.7

# To load dataset and train
scikit-learn

# Virsualisation of data
matplotlib

# for rest API

uvicorn==0.30.6
fastapi==0.114.0
fastapi-cli==0.0.5





